# There are several kinds of log files
*.*log
*._moos
*._bhv

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~

bin/*
build/*
.svn/